<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {partialHead: partialHead}) %>
<!-- Head -->

<body>
  <%- include('../partials/header.ejs') %>
  <!--Header -->

  <main>
    <form class="search" method="GET" action="/search" enctype="multipart/form-data">
      <input name="search" id="search" type="text" placeholder="Buscar marcas, repuestos...">
      <button class="submit" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </form>
    <section class="products">
      <% products.forEach(product => { %>
      <a class="product" href="/products/detail/<%= product.id %>">
        <h1><%= product.product_name %></h1>
        <div class="image">
          <img class="productimages" src="/images/productsImages/<%=product.product_image%>" alt="<%=product.product_image%>">
        </div>
        <p class="descriptionProduct"><%= product.description %></p>
        <p class="priceProduct">$<%= product.price %></p>
      </a>
      <% }) %>
    </section>

    

  </main>


  <%- include('../partials/footer.ejs') %>
  <!--Footer  -->
</body>

</html>