<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {partialHead: partialHead}) %>
<!-- Head -->

<body>
  <%- include('../partials/header.ejs') %>
  <!--Header -->

  <main>
    <%- include('../partials/filter.ejs') %>
    <!-- Filter -->

    <section class="products">
      <% products.forEach(product => { %>
      <a class="product" href="/products/detail/<%= product.id %>">
        <h1><%= product.product_name %></h1>
        <div class="image">
          <img class="productimages" src="/images/productsImages/<%=product.product_image%>" alt="<%=product.product_image%>">
        </div>
        <p class="descriptionProduct"><%= product.description %></p>

      </a>
      <% }) %>
    </section>

    

  </main>


  <%- include('../partials/footer.ejs') %>
  <!--Footer  -->
</body>

</html>