<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {partialHead: partialHead}) %> <!-- Head -->

<body>
    <%- include('../partials/header.ejs') %> <!--Header -->
    
<main>
    <%- include('../partials/filter.ejs') %> <!-- Filter -->

    <section class="products">
        <% products.forEach(product => { %>
        
            <article class="product">
                <img class ="productimages" src="../../../public/images/productos/<%=product.img%>" alt="product photo">
                <p class="descriptionProduct"><%= product.description %></p>

            </article>
        <% }) %>
    </section>

</main>

<%- include('../partials/footer.ejs') %> <!--Footer  -->
</body>
</html>