<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {partialHead: partialHead}) %>
<!-- Head -->

<body>
  <%- include('../partials/header.ejs') %>
  <!--Header -->
  <main>

    <div class="loginForm">
      <h2>Ingresá a tu cuenta!</h2>
      <ul class='errors'></ul>
      <form class='form' action="/user/login" method="POST">
        <!-- Formulario para loguearse -->
        <div class='input'>
          <input class="campo" type="text" name="user" id="user" placeholder="Ingrese su mail" value="<%= locals.oldData ? oldData.user : null %>">
          <ion-icon class='alert hidden' id='userAlert' name="alert-circle-outline"></ion-icon>
          <ion-icon class='check hidden' id='userCheck' name="checkmark-circle-outline"></ion-icon>
        </div>
        <br> <!-- Nombre de usuario-->
        <% if (locals.errors && errors.user){  %>
        <div class="text-danger">
          <%= errors.user.msg %>
        </div>
        <% } %><br>
        <div class='input'>
          <input class="campo" type="password" name="password" placeholder="Ingrese su contraseña" id='password'>
          <ion-icon class='alert hidden' id='passAlert' name="alert-circle-outline"></ion-icon>
          <ion-icon class='check hidden' id='passCheck' name="checkmark-circle-outline"></ion-icon>
        </div>
        <br> <!-- Contraseña -->
        <% if (locals.errors && errors.password){  %>
        <div class="text-danger">
          <%= errors.password.msg %>
        </div>
        <% } %><br>
        <div class="checkbox">
          <!-- <label class="radio"></label>-->
          <input type="checkbox" name="remember_user"> Recordar mi usuario
          <!-- </label> -->
        </div>
        <button class="submit" type="submit">INGRESAR</button><br> <!-- Boton de acceso -->
      </form>
      <h5>¿Aún no te registraste?</h5>
      <h5><a class="loginFormRegister" href="/user/register">Registrate aquí</a></h5> <!-- A página de registro de usuario -->
    </div>
  </main>
  <%- include('../partials/footer.ejs') %>
  <!--Footer  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src='/js/users/loginValidation.js'></script> <!-- Insertamos script de validación de formulario -->
</body>

</html>