<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {partialHead: partialHead}) %>
<!-- Head -->


<body>

  <%- include('../partials/header.ejs') %>
  <!--Header -->
  <main>


    <div class="registerForm">
      <h2>Registre su cuenta</h2>
      <ul class='errors'></ul>
      <form class="form" action="/user/register" method="POST" enctype="multipart/form-data">
        <div class="campo">
          <label for="firstName" class='label'>Nombre</label> <br>
          <div class='inputSpace'>
            <input class="input" type="text" name="firstName" placeholder="  Ingrese su nombre" id="firstName" value="<%= locals.oldData ? oldData.firstName : null %>">
            <ion-icon class='alert hidden' id='nameAlert' name="alert-circle-outline"></ion-icon>
            <ion-icon class='check hidden' id='nameCheck' name="checkmark-circle-outline"></ion-icon>
          </div>
          <% if (locals.errors && errors.firstName){  %>
          <div class="text-danger">
            <%= errors.firstName.msg %>
          </div>
          <% } %>
        </div>

        <div class="campo">
          <label for="lastName" class='label'>Apellido</label> <br>
          <div class='inputSpace'>
            <input class="input" type="text" name="lastName" placeholder="  Ingrese su apellido" id="lastName" value="<%= locals.oldData ? oldData.lastName : null %>">
            <ion-icon class='alert hidden' id='lastNameAlert' name="alert-circle-outline"></ion-icon>
            <ion-icon class='check hidden' id='lastNameCheck' name="checkmark-circle-outline"></ion-icon>
          </div>
          <% if (locals.errors && errors.lastName){  %>
          <div class="text-danger">
            <%= errors.lastName.msg %>
          </div>
          <% } %>
        </div>

        <div class="campo">
          <label for="zipCode" class='label'>Código Postal</label> <br>
          <div class='inputSpace'>
            <input class="input" type="text" name="zipCode" placeholder="  Ingrese su código postal" id="zipCode" value="<%= locals.oldData ? oldData.zipCode : null %>">
            <ion-icon class='alert hidden' id='zipCodeAlert' name="alert-circle-outline"></ion-icon>
            <ion-icon class='check hidden' id='zipCodeCheck' name="checkmark-circle-outline"></ion-icon>
          </div>
          <% if (locals.errors && errors.zipCode){  %>
          <div class="text-danger">
            <%= errors.zipCode.msg %>

          </div>
          <% } %>
        </div>
        <div class="campo" id='inputImage'>

          <span class='inputImage'>
            <input type="file" name="image" class="" id="image">
          </span>
          <label for="image" class='labelImage'>
            <span class='inputImage'>Seleccione archivo <ion-icon name="cloud-upload-outline" class='upload'></ion-icon></span>
          </label>


          <ion-icon class='alert hidden' id='imageAlert' name="alert-circle-outline"></ion-icon>
          <ion-icon class='check hidden' id='imageCheck' name="checkmark-circle-outline"></ion-icon>
          <!-- </div> -->
          <% if (locals.errors && errors.image){  %>
          <div class="text-danger">
            <%= errors.image.msg %>
          </div>
          <% } %>
        </div>
        <div class="campo">
          <label for="email" class='label'>Email</label> <br>
          <div class='inputSpace'>
            <input class="input" type="text" name="email" placeholder="  email@correo.com" id="email" value="<%= locals.oldData ? oldData.email : null %>">
            <ion-icon class='alert hidden' id='emailAlert' name="alert-circle-outline"></ion-icon>
            <ion-icon class='check hidden' id='emailCheck' name="checkmark-circle-outline"></ion-icon>
          </div>
          <% if (locals.errors && errors.email){  %>
          <div class="text-danger">
            <%= errors.email.msg %>
          </div>
          <% } %>
        </div>
        <div class="campo">
          <label for="nickname" class='label'>Usuario</label> <br>
          <div class='inputSpace'>
            <input class="input" type="text" name="nickname" placeholder="  Elija un nombre de usuario" id="nickName" value="<%= locals.oldData ? oldData.nickname : null %>">
          </div>
          <% if (locals.errors && errors.nickname){  %>
          <div class="text-danger">
            <%= errors.nickname.msg %>
          </div>
          <% } %>
        </div>
        <div class="campo">
          <label for="password" class='label'>Contraseña</label> <br>
          <div class='inputSpace'>
            <input class="input" type="password" name="password" id="password">
            <ion-icon class='alert hidden' id='passAlert' name="alert-circle-outline"></ion-icon>
            <ion-icon class='check hidden' id='passCheck' name="checkmark-circle-outline"></ion-icon>
          </div>
          <% if (locals.errors && errors.password){  %>
          <div class="text-danger">
            <%= errors.password.msg %>
          </div>
          <% } %>
        </div>
        <div class="campo">
          <label for="repeatPassword" class='label'>Repetir contraseña</label> <br>
          <div class='inputSpace'>
            <input class="input" type="password" name="repeatPassword" id="repeatPassword">
            <ion-icon class='alert hidden' id='repPassAlert' name="alert-circle-outline"></ion-icon>
            <ion-icon class='check hidden' id='repPassCheck' name="checkmark-circle-outline"></ion-icon>
          </div>
          <% if (locals.errors && errors.repeatPassword){  %>
          <div class="text-danger">
            <%= errors.repeatPassword.msg %>
          </div>
          <% } %>
        </div>
        <div class="checkbox campo">
          <input type="checkbox">
          <label class="radio" class='label'>
            Deseo recibir correos con información y ofertas de la página.
          </label>
        </div>
        <div id="map"></div>
        <div class="buttons campo">
          <button class="registerButton" type="submit"> REGISTRAR </button>
          <button class="deleteButton" type="reset"> BORRAR </button>
        </div>
      </form>
    </div>
  </main>

  <%- include('../partials/footer.ejs') %>
  <!--Footer  -->
  <script type="text/javascript" src='/js/inputImage.js'></script>
  <script src='/js/users/registerValidation.js'></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>